.container {
  margin-bottom: 100px;
}
.home-card-list {
  gap: 10px;
  border: 1px solid black;
  display: flex;
  overflow-x: scroll !important;
}

.card {
  border: 1px solid black;
  min-width: 300px;
}

.div {
  display: flex;
  justify-content: space-between;
}
